body {
    background-image: url('images/thisone.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgba(144, 163, 158, 1);
    padding: 20px;
    border-radius: 10px;
    z-index: 10; 
    height: auto;
    width: 70%;
    position: relative; 
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.5);
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
}

@font-face {
    font-family: boldFont;
    src: url(fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: lightFont;
    src: url(fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: coolFont;
    src: url(fonts//AguDisplay-Regular-VariableFont_MORF.ttf);
}

.title {
    text-align: center;
    font-family: coolFont;
    font-size: 2.3vw;
    color: beige;
}

.bigText {
    font-size: 5vw;
    margin-top: -0.3em;
    font-family: boldFont;
    color: bisque;
}

.backgroundImage {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    opacity: 0.8;
}

#myButton {
    font-family: lightFont;
    padding: 5%;
    border-radius: 10px;
    border: none;
    background-color: darkcyan;
    font-size: 2vw;
    color: aquamarine;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

td {
    text-align: center; 
    vertical-align: middle; 
    padding: 10px; 
    height: auto;
}

.pooper {
    width: 33%;
}

.hey {
    width: 50%;
}
.streakImage {
    width: 100%;
    height: auto;
    padding-left: 2vw;
    min-width: 25px;
}

.number {
    font-size: 6vw;
    color: orange;
    font-family: boldFont;
    padding-right: 4vw;
}

.average {
    font-family: lightFont;
    font-size: 3vw;
    color: lightblue;

}

.averageNum {
    font-family: boldFont;
    font-size: 2.5vw;
    color: lightblue;
}

#practiceTimer {
    font-size: 2vw;
    font-family: lightFont;
    color: lightblue;
    margin-top: -4%;
}

.version {
    font-family: lightFont;
    font-size: 1vw;
}

#arrow {
    width: 3vw;
    height: auto;
}

.records {
    width: 50%;
    font-family: lightFont;
    font-size: 2vw;
    color: bisque;
}

.recordDay {
    font-size: 1vw;
}

.recordTime {
    font-family: boldFont;
}

.arrowHolder {
    width: 5%;
}

.tableTime {
    margin-top: -2em;
}

.intro {
    position: inherit;
}

.bigText2 {
    padding-top: 0.5em;
}

input {
    width: 40%;
    height: 3vw;
    font-size: 2vw;
    font-family: coolFont;
    border-radius: 10px;
    border: none;
    margin-bottom: 2vw;
}

.introYes {
    font-family: lightFont;
    font-size: 2.5vw;
    color: beige;
}

.para {
    font-family: lightFont;
    font-size: 1.5vw;
    color: beige;
    line-height: 1.75;
}

.happy {
    font-family: boldFont;
    font-size: 1.5vw;
    color: beige;
}

.submitName {
    font-family: lightFont;
    padding: 2%;
    border-radius: 10px;
    border: none;
    background-color: darkcyan;
    font-size: 2vw;
    color: aquamarine;
    width: 30%;
}

.erase {
    position: absolute;
    width: 10%;
    height: 3%;
    border-radius: 10px;
    border: none;
    font-family: boldFont;
    background-color: crimson;
    color: darkred;
    margin-left: 37.5%;
    font-size: 1vw;
}